* {
    box-sizing: border-box;
}

.col1 input,
.col2 input {
    width: 100%;
}


.submit-btn {
    grid-column: 1 / -1;
    width: 150px;
    justify-self: center;
}

.col1{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.col2{
    width: 200px;
    display: flex;
    flex-direction: column;       
}

body{
    background-image: url(images/newplanet.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* overflow:hidden; */
}

.container {
    height: 100vh;
    /* overflow: hidden; */
}

header {
    text-align: center;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    margin:0;
    padding:0;
}

#madlib-questions h1 {
    color: #829D7E;
    padding: 0 70px 24px 0;
    /* width: 100%; */
}

#madlib-output h1{
    /* font-family: 'Poppins', sans-serif; */
    color: white;
    /* font-size: 4em; */
    /* text-align: center; */
    /* text-align: right; */
    /* padding-right: 200px; */
    padding: 50px;
    /* filter: drop-shadow(5px 5px 10px #3e2157); */
}

#madlib-questions {
   /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 50px;
    /* background-color: aquamarine; */
    height: 100vh
}

#madlib-output {
    text-align:center
}

#top{
    display: flex;
    width: 900px;
    /* margin: 0 auto 800px 400px; */
    justify-content: flex-end;
}

#bottom{
    background-image: url(images/newcrown.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


p{
    font-family: 'Poppins', sans-serif;
    color: #76563F;
    line-height: 3em;
    font-size: 1.25em;
}

.results{
    max-width: 900px;
    min-height: 450px;
    padding: 50px;
    background-color: #DDD6BE;
    border-radius: 10px;
    margin: 0 auto;
    /* margin-top: 100px; */
}

.results p{
    text-align: left;
}

button{
    background-color: #FFFA64;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: #829D7E;
}

form{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 2.6rem;
    background-color: #AB9B90;
    display: grid;
    grid-template-columns: minmax(220px, 1fr) minmax(220px, 1fr);
    gap: 30px 60px;
    padding: 50px;
    border-radius: 10px;
    max-width: 584px; 
    height: 428px;
    /* margin-top: 100px; */
}