body{
    background-color:bisque;
    height: 750px;
    background-image: url(images/wallshape.png);
}

.header{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 5px;
}

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.images{
   display: flex;
   justify-content: center;
}

.images img {
	max-width: 100%;
	transition: all 1s ease;
    animation: movement 2s ease-in-out infinite;
}

@keyframes movement {
    0% {
        transform: translate(0, 0px)
    }
    50% {
        transform:translate(0, 10px)
    }
    100% {
        transform: translate(0, 0px)
    }

}
.images img:hover{
	transform: scale(1.5);
    filter: grayscale(100%);
}
section{
    background-color: cadetblue;
}

/* .hidden{
display: none;
} */

.styled{
    background-color: brown;
    position: absolute;
    top: 0;
    right: 0;
    /* width:100vw;
    height: 100vh; */
    width: 50vw;
    height: 80vh;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}



