body{
    font-family: 'Poppins', sans-serif;
    background-color: #A0CDF0;
    /* background-image: url(images/rainbowcompress.png);
    background-size: cover; */
}

.loading-screen.hidden, .select-character.hidden, .game-screen.hidden{
    display: none;
}

.loading-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/rainbowcompress.png);
    background-size: cover;
}

.select-character{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.game-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.gamename{
    margin-top: 170px;
}

.first-heading{
    font-size: 4em;
    font-family: "Mochiy Pop One", sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

.second-heading{
    font-size: 4em;
    font-family: "McLaren", sans-serif;
    font-weight: lighter;
    margin: 0 0 0 100px;
    margin-bottom: 20px;
}

.rules {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.play-btn {
    padding: 18px 30px;
    font-size: 28px;
    background-color: #9C66D2;
    color: black;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.character-header h2{
    font-size: 3em;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.character-header{
    margin-top: 20px;
}

.character-header img{
    display: block;
    margin: 0 auto;
}

.choose-character{
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 250px;
    margin-top: 20px;
}

.controls{
    display:flex;
    align-items: center;
    gap: 30px;
}

.char-frame{
    width: 280px;
    height: 280px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.char-frame img{
    max-width: 100%;
    max-height: 100%;
}

.avatar-name{
    font-size: 2em;
    text-align: center;
}

.start-game{
    padding: 18px 30px;
    font-size: 28px;
    background-color: #9C66D2;
    color: black;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    margin-top: -40px;
}

.start-button{
    display: flex;
    justify-content: center;
}

.arrow-player1, .arrow-player2{
    border: none;
    background: none;
    font-size: 3em;
    font-weight: bolder;
}

.player1-char, .player2-char{
    max-width: 300px;
    height:auto;
}

.gamer-region{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 90%;
    margin-top: -100px;
}

.game-brand{
    margin-top: 20px;
}

.names{
    font-size:2em;
    text-align: center;
}

.p1-pts{
    transform: translateX(-465px) translateY(-7px);
    font-size: 1.5em;
    border-color: black;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
}

.p2-pts{
    transform: translateX(300px) translateY(-100px);
    font-size: 1.5em;
    border-color: black;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
}

.roll-button, .pass-button{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.pass{
    padding: 18px 30px;
    font-size: 28px;
    background-color: #E89C55;
    color: black;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
}

.game-controls{
    display: flex;
    flex-direction: row;
    gap: 40px;
    transform: translateY(-50px)
}

.roll{
    padding: 18px 30px;
    font-size: 28px;
    background-color: #F6E780;
    color: black;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
}


.dices img{
    width: 117px;
    height: 113px;
    margin-top: 50px;
}

.dices p{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: "McLaren", sans-serif;
}

.dices h2{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: "McLaren", sans-serif;
}

.dices{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 266px;
    margin: 0 auto;
}

.dice-row{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.dices .dice-msg{
    font-size: 1.5em;
    font-weight: lighter;
} 

.play-again{
    margin-top:20px;
    padding:18px 30px;
    font-size:26px;
    background-color:#9C66D2;
    border:none;
    border-radius:6px;
    font-family:'Poppins', sans-serif;
}

footer{
    margin-top: -50px;
}

footer p{
    text-align: center;
    color: rgba(255, 255, 255, 0.553);
}